<!-- FILTER -->
<div class="row">
  <form [formGroup]="flightFilterForm" (ngSubmit)="onSubmit()" style="margin:auto">
      <div class="form-row align-items-center">
          
              <div class="form-group col-md-4">
                      <label for="from">From</label>
                      <input type="text"
                             class="form-control" 
                             id="from"  
                             placeholder="Enter From"
                             formControlName="from"
                             [ngClass]="{ 'is-invalid': submitted && f.from.errors }"
                      >

                  <!-- Check if we have some errors --> 
                  <div *ngIf="submitted && f.from.errors" class="invalid-feedback">
                      <div *ngIf="f.from.errors.required">Departure is required</div>
                  </div>       
              </div>


              <div class="form-group col-md-4">
                <label for="to">To</label>
                <input type="text"
                       class="form-control" 
                       id="from"  
                       placeholder="Enter To"
                       formControlName="to"
                       [ngClass]="{ 'is-invalid': submitted && f.to.errors }"
                        >

                    <!-- Check if we have some errors --> 
                    <div *ngIf="submitted && f.to.errors" class="invalid-feedback">
                        <div *ngIf="f.to.errors.required">Destination is required</div>
                    </div>       
                </div>



                <div class="form-group col-md-4">
                    <label for="departureDate">Departure date</label>
                    <input class="form-control"
                           type="date"
                           id="departureDate"
                           formControlName="departureDate"
                            [ngClass]="{ 'is-invalid': submitted && f.departureDate.errors }"
                            >
  
                           <!-- Check if we have some errors --> 
                    <div *ngIf="submitted && f.departureDate.errors" class="invalid-feedback">
                        <div *ngIf="f.departureDate.errors.required">Departure date is required</div>
                    </div> 
            </div>
         
      
          <div class="form-group col-md-4">
                  <label for="adults">Adults</label>
                  <select name="adults" 
                          id="inputState" 
                          class="form-control" 
                          formControlName="adults"
                          [ngClass]="{ 'is-invalid': submitted && f.adults.errors }"
                          >
                      <option [value]=1>1 adult</option>
                      <option selected [value]=2>2 adults</option>
                      <option [value]=3>3 adults</option>
                      <option [value]=4>4 adults</option>
                      <option [value]=5>5 adults</option>
                  </select>

                  <!-- Check if we have some errors --> 
                  <div *ngIf="submitted && f.adults.errors" class="invalid-feedback">
                      <div *ngIf="f.adults.errors.required">Adults is required</div>
                  </div> 
          </div>

          <div class="form-group col-md-4">
                  <label for="children">Children</label>
                  <select name="children"
                          id="inputState" 
                          class="form-control" 
                          formControlName="children"
                          [ngClass]="{ 'is-invalid': submitted && f.children.errors }"
                          >
                    
                    <option [value]=0 selected>Without children</option>
                    <option [value]=1>1 child</option>
                    <option [value]=2>2 children</option>
                    <option [value]=3>3 children</option>
                    <option [value]=4>4 children</option>
                    <option [value]=5>5 children</option>
                  </select>

                  <!-- Check if we have some errors --> 
                  <div *ngIf="submitted && f.children.errors" class="invalid-feedback">
                      <div *ngIf="f.children.errors.required">Chilren is required</div>
                  </div> 
          </div>
          
         
          <div class="form-group col-md-4 mt-4">
              <button type="submit" style="margin-top:9px;"  class="btn btn-primary  btn-block">Search</button>
          </div>
      </div>
      <hr>
  </form>
</div>





