<div class="container-fluid">

<div>
    <h3  style="margin-bottom: 20px;">{{ title }}</h3>
</div>

<form [formGroup]="signInForm" (ngSubmit)="signIn()">

    <!-- Email -->
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="text"
             class="form-control" 
             id="email" 
             placeholder="Enter email"
             formControlName="email"
             [ngClass]= "{ 'is-invalid': submitted && f.email.errors }"
             >
       
      <!-- Check if we have some errors -->
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <!-- Check individual errors -->
        <div *ngIf="f.email.errors.required">E-mail is required</div>
      </div>
    </div>
    <!-- End Email -->

    <!-- Passord -->
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
               class="form-control" 
               id="password" 
               placeholder="Enter password"
               formControlName="password"
               [ngClass]="{ 'is-invalid': submitted && f.password.errors}"
               >

        <!-- Check if we have some errors -->
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <!-- Check individual errors -->
          <div *ngIf="f.password.errors.required">Password is required</div>
        </div>      
      
    </div>
    <!-- End password -->

    <!--Submit -->
    <button type="submit" class="btn btn-primary">Sign In</button>

  </form>
  </div>