
<div class="container mt-5">
<!-- Start About user privilage-->
<div class="row">


    <div class="col-md-6">
          <div class="card">
              <h5 class="card-header text-center">User privileges</h5>
              <div class="card-body">
                <div>
                  <i class="fas fa-check fa-2x" style="padding-right:20px;"></i>
                  <h5 class="card-title" style="display: inline-block;">Unlimitted access application</h5>
                </div>
                <div>
                    <i class="fas fa-check fa-2x" style="padding-right:20px;"></i>
                    <h5 class="card-title" style="display: inline-block;">Online booking flights</h5>
                </div>
                <div>
                    <i class="fas fa-check fa-2x" style="padding-right:20px;"></i>
                    <h5 class="card-title" style="display: inline-block;"> Online booking hotel rooms around the world</h5>
                </div>
               
              </div>
            </div>
       
      </div>
  
<!-- End About user privilage -->


<!-- SIGN IN AND SIGN UP -->

      <div class="col-md-6">
        <div class="card text-center">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" routerLink="/signIn">Sign In</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" routerLink="/signUp">Sign Up</a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <router-outlet></router-outlet>
              <!--<h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
        </div>

    </div> 
<!-- END SIGN IN AND SIGN UP -->
</div>
