<div class="container-fluid">

  
  <div class="row">
    <div class="col-md-4 mx-auto" style="text-align: center">
      <h2>Browse flights</h2>
      <hr width="70%">
      </div>
  </div>
  
  <app-flight-filter (filterFlights)="filterFlights($event)" ></app-flight-filter>

  <div class="row mt-5">
  <!-- <app-room-item ></app-room-item> -->
    <div class="col-md-3 mb-5" *ngFor="let flight of filteredFlights">
        <div class="card-deck">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">{{flight.from}} - {{flight.to}}</h4>
                  <h6 class="card-title">{{flight.price | currency: 'EUR' }}</h6>
                 
                  
                  <hr>
                  <p class="card-text">Departure date: {{flight.departureDate | date: 'mediumDate' :'GMT'}}</p>
                  <hr>
                  <p class="card-text">Departure time: {{flight.departureTime | date: "shortTime" :'GMT'}}</p>
                  <hr>
                  <p class="card-text">Expected travel time: {{flight.expectedTravelTime | date: "h:mm" :'GMT'}}</p>
        
                </div>
                <div class="card-footer">
                    <div >
                    <button [@checkFlightBtn]='checkFlightBtnState' (click)="onToggleFlight()" type="button" (click)="checkFlight(flight.id)" class="btn btn-outline-success btn-block">{{checkFlightBtnText}}</button><br>
                    </div>
                    <button type="button" (click)="reserveFlight(flight.id)" class="btn btn-outline-danger btn-block">Book without hotel</button>
                </div>
            </div>
        </div>
      </div>  
  </div>


</div>