<h2>Flight reservations</h2>
  <!-- List of flight reservation for user -->
  <div class="row" style="margin-top:12px;" >
    <div class="col-md-12">
      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#id</th>
              <th scope="col">From</th>
              <th scope="col">To</th>
              <th scope="col">Departure date</th>
              <th scope="col">Departure time</th>
              <th scope="col">Expected travel time</th>
              <th scope="col">Passengers</th>
              <th scope="col">Total price</th>
              <th scope="col">Reservation date</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          
           <tr *ngFor="let flightReservation of flightReservations">
              <th scope="row">{{ flightReservation.id }}</th>
              <td>{{ flightReservation.flight.from }}</td>
              <td>{{ flightReservation.flight.to }}</td>
              <td>{{ flightReservation.flight.departureDate | date: 'mediumDate' :'GMT' }}</td>
              <td>{{ flightReservation.flight.departureTime | date: 'shortTime' :'GMT' }}</td>
              <td>{{ flightReservation.flight.expectedTravelTime | date: 'h:mm' :'GMT'}} h</td>
              <td>{{ (flightReservation.children + flightReservation.adults) - 1 }}</td>
              <td>{{ flightReservation.totalPrice | currency:'EUR' }}</td>
              <td>{{ flightReservation.reservationDate | date: 'MMM d, y' }}</td>
              <td>
                  <button type="button" (click)="cancelFlightReservation(flightReservation.id)" class="btn btn-danger" style="margin-left:12px;">Cancel</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
