<div class="card-footer">
          <input 
          [ngClass]="setClasses()"
          (change)="onToggleHotelRoom()"
          [checked]="room.checked" 
          type="checkbox"
          id="{{room.id}}"
          (click)="onCheckRoom(room)" 
          class="btn btn-outline-success btn-block"/>
          <br>
  <button type="button" (click)="onReserveRoom(room.id)" class="btn btn-danger btn-lg btn-block">Book only room</button>
</div>