<div class="container-fluid">

<!-- BACK BUTTON -->

<div class="row mt-3">
  <div class="col-md-12">
      <button routerLink="/home" type="button" class="btn btn-warning" style="color:white;">Back home</button>
      <hr>
  </div>
</div>

<app-flights (flightReservationDetails)="flightReservationDetails($event)"></app-flights>
<app-rooms (hotelRoomReservationDetails)="hotelRoomReservationDetails($event)"></app-rooms>
<div class="row">
  <div class="reserveFlightAndHotelBtn">
    <button *ngIf="btnVisible" (click)="reserveFlightAndHotel()" type="button" class="btn btn-success">Book flight and hotel</button>
  </div>
</div>
</div>
